!!!
%html
  %head
    %title RailsCamp
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .row_fluid
      .hero-unit
        %h1
          RailsCamp
        .text-right
          %strong= current_user.email
          = link_to 'logout', destroy_user_session_path, method: :delete
        .col-md-6
          = link_to 'Zadania', root_path, class: 'btn btn-danger'
          = link_to 'Nowe zadanie', new_task_path, class: 'btn btn-success', remote: true
          = link_to 'Uzytkownicy', users_path, class: 'btn btn-success'
    = yield